name: Build and Deploy (CD pipeline)

permissions:
    contents: read

on:
    # push:
    #     branches:
    #         - main
    # pull_request:
    #     branches:
    #         - main
    workflow_dispatch:
    workflow_run:
        workflows: 
            - sca.yml
            - sast.yml
            - cis.yml
            - dast.yml
        types: [completed]

jobs:
    check-branch-origin:
        runs-on: ubuntu-latest
        steps:
            - 
                name: Check PR source branch name
                shell: bash
                run: |
                    EVENT="${{ github.event_name }}"

                    if [ "$EVENT" = "pull_request" ]; then
                        BRANCH="${{ github.base_ref }}"
                    else
                        BRANCH="${{ github.ref_name }}"
                    fi

                    echo "Event: $EVENT"
                    echo "Target branch: $BRANCH"

                    if [ "$BRANCH" = "main" ]; then
                        echo "✅ Allowed branch '$BRANCH' to trigger deploy."
                        exit 0
                    else
                        echo "::error ::Branch '$BRANCH' is not allowed to trigger deploy."
                        exit 1
                    fi

    check-security-scans:
        needs: check-branch-origin
        runs-on: ubuntu-latest
        steps:
            - 
                name: Fail if security scans failed
                if: ${{ github.event_name == 'workflow_run' }}
                run: |
                    echo "Conclusion: ${{ github.event.workflow_run.conclusion }}"
                    if [ "${{ github.event.workflow_run.conclusion }}" != "success" ]; then
                        echo "❌ Security scans failed or did not complete successfully"
                        exit 1
                    fi

            - 
                name: Continue pipeline
                run: echo "✅ Security scans OK, continuing…"

    build-image:
        needs: check-security-scans
        runs-on: ubuntu-latest
        permissions:
            packages: write
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        steps:
            -
                name: Checkout Code
                uses: actions/checkout@v6
            
            - 
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            - 
                name: Log in to GitHub Container Registry
                run: |
                    echo "${{ secrets.GITHUB_TOKEN }}" | \
                    docker login ghcr.io -u ${{ github.actor }} --password-stdin

            -
                name: Swapcase repository owner name
                id: string
                uses: ASzc/change-string-case-action@v6
                with:
                    string: ${{ github.repository_owner }}

            - 
                name: Build and push Docker image
                uses: docker/build-push-action@v6
                with:
                    context: .
                    file: Dockerfile
                    push: true
                    tags: |
                        ghcr.io/${{ steps.string.outputs.lowercase }}/spm:latest
                        ghcr.io/${{ steps.string.outputs.lowercase }}/spm:${{ github.sha }}
    
    deploy-to-render:
        needs: build-image
        runs-on: ubuntu-latest
        permissions:
            deployments: write
        env:
            RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
            RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
            SERVER_NAME: ${{ secrets.SERVER_NAME }}
            DEPLOY_URL: ${{ secrets.DEPLOY_URL }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        steps:
            - 
                name: Checkout code
                uses: actions/checkout@v6

            - 
                name: Trigger Render deployment
                uses: JorgeLNJunior/render-deploy@v1.4.7
                with:
                    service_id: ${{ env.RENDER_SERVICE_ID }}
                    api_key: ${{ env.RENDER_API_KEY }}
                    clear_cache: true
                    wait_deploy: true
                    github_deployment: true
                    deployment_environment: 'production'
                    github_token: ${{ env.GITHUB_TOKEN }}

            - 
                name: Notify Email (Success)
                if: success()
                uses: dawidd6/action-send-mail@v8
                with:
                    server_address: ${{ secrets.SMTP_SERVER }}
                    server_port: 587
                    secure: false
                    username: ${{ secrets.SMTP_USERNAME }}
                    password: ${{ secrets.SMTP_PASSWORD }}
                    to: ${{ secrets.EMAIL_TO_LIST }}
                    from: "GitHub Actions - CD <no-reply@github.com>"
                    subject: "✅ Déploiement réussi — Production"
                    body: |
                        Le déploiement en production a réussi.

                        Server: ${{ env.SERVER_NAME }}
                        Deploy URL: ${{ env.DEPLOY_URL }}
                        Branch: ${{ github.ref }}
                        Commit: ${{ github.sha }}
                        Action: Déploiement standard

            - 
                name: Notify Email (Failure)
                if: failure()
                uses: dawidd6/action-send-mail@v8
                with:
                    server_address: ${{ secrets.SMTP_SERVER }}
                    server_port: 587
                    secure: false
                    username: ${{ secrets.SMTP_USERNAME }}
                    password: ${{ secrets.SMTP_PASSWORD }}
                    to: ${{ secrets.EMAIL_TO_LIST }}
                    from: "GitHub Actions - CD <no-reply@github.com>"
                    subject: "⚠️ Échec du déploiement"
                    body: |
                        ⚠️ Le déploiement en production a échoué.

                        Server: ${{ env.SERVER_NAME }}
                        Branch: ${{ github.ref }}
                        Commit en échec: ${{ github.sha }}

                        Merci de consulter les logs GitHub Actions pour plus de détails.

