---
name: Automate DAST (Dynamic Application Security Testing)

on:
    push:
        branches:
            - '**'
    pull_request:
        branches:
            - main
    workflow_dispatch:
    workflow_run:
        workflows: 
            - ci.yml
        types: [completed]

permissions:
    contents: read
    security-events: write
    issues: write

jobs:
    check-ci-status:
        runs-on: ubuntu-latest
        steps:
            - 
                name: Fail if CI pipeline failed
                if: ${{ github.event_name == 'workflow_run' }}
                run: |
                    echo "Conclusion: ${{ github.event.workflow_run.conclusion }}"
                    if [ "${{ github.event.workflow_run.conclusion }}" != "success" ]; then
                        echo "❌ CI checks failed or did not complete successfully"
                        exit 1
                    fi

            - 
                name: Continue pipeline
                run: echo "✅ CI pipeline OK, continuing…"
    
    dynamic-api-scan:
        needs: check-ci-status
        runs-on: ubuntu-latest
        
        steps:
            -
                name: Checkout Code
                uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            # - 
            #     name: Create options.prop file
            #     run: |
            #         cat << EOF > options.prop
            #         -config replacer.full_list(0).description=Auth Header
            #         -config replacer.full_list(0).enabled=true
            #         -config replacer.full_list(0).matchtype=REQ_HEADER
            #         -config replacer.full_list(1).matchstr=Authorization
            #         -config replacer.full_list(1).regex=false
            #         -config replacer.full_list(1).replacement=Bearer ${{ secrets.BASIC_AUTH }}
            #         EOF

            - 
                name: Generate SECRET_KEY
                id: generate_secret
                run: |
                    echo "SECRET_KEY=$(openssl rand -hex 32)" >> $GITHUB_OUTPUT

            -
                name: Build Docker Image
                run: |
                    docker build -f ./Dockerfile.zap -t dev-sec-ops/api-rest-crud .

            - 
                name: Create Docker Network
                run: docker network create zap-net || true
            
            - 
                name: Run Application Container
                run: |
                    docker run -d --name api --network zap-net -p 8080:80 \
                        -e SQLALCHEMY_DATABASE_URL="sqlite:////usr/src/app/test.db" \
                        -e SECRET_KEY="${{ steps.generate_secret.outputs.SECRET_KEY }}" \
                        -e API_URL=http://api:80 \
                        dev-sec-ops/api-rest-crud

            - 
                name: Wait for API to be ready
                run: |
                    echo "Waiting for API to be ready..."
                    for i in {1..30}; do
                        if curl -f http://localhost:8080; then
                        echo "API is up!"
                        exit 0
                        fi
                        sleep 2
                    done
                    echo "API failed to start in time"
                    docker logs api
                    exit 1

            - 
                name: Run tests inside Docker and extract token
                id: auth
                run: |
                    TOKEN=$(docker exec api pytest tests/auth_flow.py -s | grep "ADMIN_TOKEN=" | cut -d= -f2)
                    echo "token=$TOKEN" >> $GITHUB_OUTPUT
            
            - 
                name: Pull ZAP OWASP Image
                run: docker pull zaproxy/zap-weekly

            - 
                name: Run ZAP API Passive Scan
                run: |
                    sudo docker run --rm --user root --network zap-net -v $(pwd):/zap/wrk/:rw -t zaproxy/zap-weekly zap-baseline.py -t http://api:80/openapi.json -g zap_passive_scan_$(date -u +'%Y%m%d').conf -r zap_passive_scan_report_$(date -u +'%Y%m%d').html
                continue-on-error: true

            # - 
            #     name: Run ZAP API Active Scan
            #     run: |
            #         docker run --rm --network zap-net -v $(pwd):/zap/wrk/:rw -t zaproxy/zap-weekly zap-api-scan.py -t http://api:80/openapi.json -f openapi -c options.prop -r zap_active_scan_report_$(date -u +'%Y%m%d').html
            #     continue-on-error: true

            -
                name: Run ZAP Basic Full Scan
                uses: zaproxy/action-full-scan@v0.13.0
                with:
                    target: http://api:80

            -
                name: Run ZAP Advanced API Scan
                uses: zaproxy/action-api-scan@v0.10.0
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}
                    docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
                    format: openapi
                    target: http://localhost:8080
                    cmd_options: '-a'
                    allow_issue_writing: true
                    issue_title: ZAP Advanced API Scan ${{ github.sha }}
                    artifact_name: zap-api-scan-report
                env:
                    ZAP_AUTH_HEADER: Authorization
                    ZAP_AUTH_HEADER_VALUE: Bearer ${{ steps.auth.outputs.token }}
            
            -
                name: Run ZAP Advanced Full Scan
                uses: zaproxy/action-full-scan@v0.13.0
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}
                    docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
                    format: openapi
                    target: http://localhost:8080
                    cmd_options: '-a'
                    allow_issue_writing: true
                    issue_title: ZAP Advanced Full Scan ${{ github.sha }}
                    artifact_name: zap-full-active-scan-report
                env:
                    ZAP_AUTH_HEADER: Authorization
                    ZAP_AUTH_HEADER_VALUE: Bearer ${{ steps.auth.outputs.token }}

            - 
                name: Stop Docker Container
                run: |
                    docker stop api || true
                    docker rm api || true
                    docker network rm zap-net || true

