---
name: Generate SBOM (Software Bill Of Materials)

on:
    push:
        branches:
            - '**'
        paths:
            - requirements.txt
    pull_request:
        branches:
            - main
        paths:
            - requirements.txt
    workflow_dispatch:
    workflow_run:
        workflows: ["ci.yml"]
        types: [completed]

permissions:
    contents: write

jobs:
    trivy-generate-sbom:
        runs-on: ubuntu-latest
        steps:
            - 
                name: Checkout code
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            - 
                name: Run Trivy in GitHub SBOM mode and submit results to Dependency Graph
                uses: aquasecurity/trivy-action@0.33.1
                with:
                    scan-type: 'fs'
                    format: 'github' # cyclonedx
                    output: 'dependency-results.sbom.json'
                    scan-ref: '.'
                    github-pat: ${{ secrets.GITHUB_TOKEN }}
    
            - 
                name: Upload trivy report as a Github artifact
                uses: actions/upload-artifact@v4
                with:
                    name: trivy-sbom-report
                    path: '${{ github.workspace }}/dependency-results.sbom.json'
                    retention-days: 2

