---
name: TVS (Trivy Vulnerability Scanner)

on:
    push:
        branches:
            - '**'
    pull_request:
        branches:
            - main
    workflow_dispatch:
    workflow_run:
        workflows: ["ci.yml"]
        types: [completed]

permissions:
    contents: read
    security-events: write

jobs:
    trivy-fs-scan:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            
            -
                name: Run TVS in fs mode (sarif)
                uses: aquasecurity/trivy-action@0.33.1
                with:
                    scan-type: 'fs'
                    scan-ref: '.'
                    dependency-tree: true
                    list-all-pkgs: true
                    format: 'sarif'
                    output: 'trivy-repo-scan-results.sarif'

            -
                name: Upload Trivy scan results to GitHub Security tab
                uses: github/codeql-action/upload-sarif@v4
                with:
                    sarif_file: 'trivy-repo-scan-results.sarif'
            
            -
                name: Run TVS in fs mode (table)
                uses: aquasecurity/trivy-action@0.33.1
                with:
                    scan-type: 'fs'
                    scan-ref: '.'
                    # exit-code: '1'
                    dependency-tree: true
                    list-all-pkgs: true
                    format: 'table'
                    severity: 'CRITICAL,HIGH,MEDIUM,LOW'


    trivy-container-scan:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -
                name: Build an image from Dockerfile
                run: |
                    docker build Dockerfile -t dev-sec-ops/api-rest-crud-${{ github.sha }}:latest
            
            - 
                name: Run TVS in sarif format
                uses: aquasecurity/trivy-action@0.33.1
                with:
                    image-ref: 'dev-sec-ops/api-rest-crud-${{ github.sha }}:latest'
                    format: 'sarif'
                    output: 'trivy-container-scan-results.sarif'

            - 
                name: Upload Trivy scan results to GitHub Security tab
                uses: github/codeql-action/upload-sarif@v4
                with:
                    sarif_file: 'trivy-container-scan-results.sarif'
            
            - 
                name: Run TVS in table format
                uses: aquasecurity/trivy-action@0.33.1
                with:
                    image-ref: 'dev-sec-ops/api-rest-crud-${{ github.sha }}:latest'
                    format: 'table'
                    # exit-code: '1'
                    # ignore-unfixed: true
                    vuln-type: 'os,library'
                    severity: 'CRITICAL,HIGH,MEDIUM,LOW'

