---
name: OZVS (OWASP ZAP Vulnerability Scanner)

on:
    push:
        branches:
            - '**'
    pull_request:
        branches:
            - main
    workflow_dispatch:
    workflow_run:
        workflows: ["ci.yml"]
        types: [completed]

permissions:
    contents: read
    security-events: write

jobs:
    zap-api-scan:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout Code
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            - 
                name: Create api-scan.conf file with full configuration
                run: |
                    echo -e "scan.policy\tdefault" > api-scan.conf
                    echo -e "url.baseurl\thttp://localhost:8080" >> api-scan.conf
                    echo -e "url.target\thttp://localhost:8080/openapi.json" >> api-scan.conf
                    echo -e "rule.sql_injection\ttrue" >> api-scan.conf
                    echo -e "rule.xss\ttrue" >> api-scan.conf
                    echo -e "scan.verbose\ttrue" >> api-scan.conf
                    echo -e "scan.delay\t500" >> api-scan.conf
                    echo -e "scan.timeout\t120" >> api-scan.conf
                    echo -e "scan.maxDepth\t5" >> api-scan.conf
                    echo -e "scan.ajaxSpider\ttrue" >> api-scan.conf
                    echo -e "scan.authentication\ttrue" >> api-scan.conf
                    echo -e "scan.alertFilter\tmedium,high" >> api-scan.conf

            -
                name: Build Docker Image
                run: |
                    docker build -f ./Dockerfile -t dev-sec-ops/api-rest-crud .
            
            - 
                name: Run Docker Container
                run: |
                    docker run -d -p 8080:80 dev-sec-ops/api-rest-crud
            
            - 
                name: Pull ZAP OWASP Image
                run: docker pull zaproxy/zap-weekly

            - 
                name: Run ZAP API Scan
                run: |
                    sudo docker run -v $(pwd):/zap/wrk/:rw -t zaproxy/zap-weekly zap-api-scan.py -t http://localhost:8080/openapi.json -f openapi -c api-scan.conf
                continue-on-error: true

            -
                name: Run ZAP Full Scan
                uses: zaproxy/action-full-scan@v0.13.0
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}
                    docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
                    target: http://localhost:8080
                    rules_file_name: '.zap/rules.tsv'
                    cmd_options: '-a'
            
            - 
                name: Stop Docker Container
                run: |
                    docker ps -q --filter "ancestor=dev-sec-ops/api-rest-crud" | xargs docker stop

