---
name: OZVS (OWASP ZAP Vulnerability Scanner)

on:
    push:
        branches:
            - '**'
    pull_request:
        branches:
            - main
    workflow_dispatch:
    workflow_run:
        workflows: ["ci.yml"]
        types: [completed]

permissions:
    contents: read
    security-events: write
    # issues: write

jobs:
    zap-api-scan:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout Code
                uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            - 
                name: Create options.prop file
                run: |
                    echo -e "-config replacer.full_list\\(0\\).description=Auth Header \" > options.prop
                    echo -e "-config replacer.full_list\\(0\\).enabled=true \" >> options.prop
                    echo -e "-config replacer.full_list\\(0\\).matchtype=REQ_HEADER \" >> options.prop
                    echo -e "-config replacer.full_list\\(1\\).matchstr=Authorization \" >> options.prop
                    echo -e "-config replacer.full_list\\(1\\).regex=false \" >> options.prop
                    echo -e "-config replacer.full_list\\(1\\).replacement=\"Bearer {your_basic_auth_creds}\"" >> options.prop

            -
                name: Build Docker Image
                run: |
                    docker build -f ./Dockerfile -t dev-sec-ops/api-rest-crud .

            - 
                name: Create Docker Network
                run: docker network create zap-net || true
            
            - 
                name: Run Application Container
                run: |
                    docker run -d --name api --network zap-net -p 8080:80 dev-sec-ops/api-rest-crud
            
            - 
                name: Pull ZAP OWASP Image
                run: docker pull zaproxy/zap-weekly

            - 
                name: Run ZAP API Scan
                run: |
                    docker run --rm --network zap-net -v $(pwd):/zap/wrk/:rw -t zaproxy/zap-weekly zap-api-scan.py -t http://api:80/openapi.json -f openapi -g zap_api_scan_$(date -u +'%Y%m%d').conf -r zap_report_$(date -u +'%Y%m%d').html
                continue-on-error: true

            -
                name: Run ZAP Full Scan
                uses: zaproxy/action-full-scan@v0.13.0
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}
                    docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
                    target: http://api:80
                    cmd_options: '-a'
                    allow_issue_writing: false

            - 
                name: Upload ZAP Config Scan
                uses: actions/upload-artifact@v4
                with:
                    name: zap-api-scan
                    path: zap_api_scan_$(date -u +'%Y%m%d').conf

            - 
                name: Upload ZAP Report
                uses: actions/upload-artifact@v4
                with:
                    name: zap-scan-report
                    path: zap_report_$(date -u +'%Y%m%d').html
            
            - 
                name: Stop Docker Container
                run: |
                    docker stop api || true
                    docker rm api || true
                    docker network rm zap-net || true

